<mat-toolbar color="primary" class="toolbar" *ngIf="login != null">
  <div *ngIf="authorities == 'ROLE_READER'">
    <button mat-button class="btn-login text-bold	" (click)="openAllBooks()">Books</button>
    <button mat-button class="btn-login text-bold" (click)="openMyBooks()">My books</button>
  </div>
  <div *ngIf="authorities == 'ROLE_ADMIN'">
    <button mat-button class="btn-login text-bold	" (click)="openAllUsers()">Users</button>
    <button mat-button class="btn-login text-bold	" (click)="openAllLibrarians()">Librarians</button>
  </div>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button class="text-bold">Hi, {{login}}!</button>
    <button mat-button class="text-bold" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
