<mat-toolbar color="primary" class="toolbar">
  <button mat-button class="btn-login text-bold	">Books</button>

  <button mat-button class="btn-login text-bold">My books</button>
</mat-toolbar>


<mat-sidenav-container class="book-container">

  <mat-sidenav mode="side" opened class="book-sidenav" [fixedInViewport]="true" [fixedTopGap]="50">
    <mat-accordion>
      <mat-expansion-panel class="margin20">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="book-filter-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Find by title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Find by author" [(ngModel)]="author" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
          <button mat-raised-button color="primary" class="text-bold" (click)="searchBooks()">Apply</button>

        </form>
      </mat-expansion-panel>
    </mat-accordion>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar [style.display]="loading ? 'block' : 'none'" mode="indeterminate"
                      class="margin20 progress-bar-books"></mat-progress-bar>
    <div *ngIf="!loading && loaded && visibleBooks.length == 0" class="alert alert-primary">
      <div>No books with such author and/or title</div>
    </div>
    <mat-grid-list cols="3" rowHeight="600px" *ngIf="!loading">
      <mat-grid-tile *ngFor="let book of visibleBooks" class="book-grid-title ">
        <mat-card class="book-card">
          <mat-card-header>
            <div mat-card-avatar class="book-header-image"></div>
            <mat-card-title>{{ book.title}}</mat-card-title>
            <mat-card-subtitle>
              <b>Author:</b> {{ book.author }}<br/>
              <b>Edition:</b> {{ book.edition }}<br/>
              <b>Published:</b> {{ book.publicationDateTime | date:'MM/dd/yyyy' }}
            </mat-card-subtitle>

          </mat-card-header>
          <img mat-card-image
               src="https://us.123rf.com/450wm/shablon/shablon1612/shablon161201491/67102009-%EC%96%91%EC%9E%A5%EB%B3%B8-%EC%BA%94%EB%B2%84%EC%8A%A4-%EC%B1%85-%EB%AA%A8%EC%9D%98-%EC%97%85-%EB%92%B7%EB%A9%B4.jpg?ver=6"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              {{ book.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" class="text-bold" (click)="openDialog(book.id)">Read</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
