/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

body {
  margin: 0;
  background-image: url("img/background.jpg");
  background-size: 100%;
}

.text-bold {
  font-weight: 600 !important;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.main-full-width {
  width: 100%;
}

.btn-float-right {
  float: right;
}

.btn-login {
}

.txt-login {
  text-align: center;
}

.form-login {
  margin: 50px;
}

.book-card {
  width: 300px;
  height: 488px;
}

.book-grid-title {
  height: 600px;
}

.book-header-image {
  background-image: url('https://i.pinimg.com/originals/26/63/e5/2663e5cd08194d30314a3f0b7a6c32e0.jpg');
  background-size: cover;
}

.card-login {
    width: 600px;
    margin: 50px auto;
}


.book-sidenav {
  background-color: #1565c0 !important;
  width: 268px;
}

.book-filter-form {
  text-align: center;
}

.book-filter-form h2 {
  font-size: 1.5rem;
  color: #1565c0;
}

.alert {
  margin: 50px;
}

.toolbar {
  height: 50px !important;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.margin20 {
  margin: 20px !important;
}

.progress-bar-books {
  width: 95% !important;
}
table {
  margin: 0 auto;
  width: 100%;

}
.fill-remaining-space {
  flex: 1 1 auto;
}
.book-content {
  height: 94vh !important;
}

.book-record-table {
  margin: 50px;
  height: 82vh;
  overflow: auto;
}
