/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

body {
  margin: 0;
  background-color: #e9ecef;
}

.text-bold {
  font-weight: 600 !important;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.main-full-width {
  width: 100%;
}

.btn-float-right {
  float: right;
}

.btn-login {
}

.txt-login {
  text-align: center;
}

.form-login {
  margin: 50px;
}

.book-card {
  width: 300px;
  height: 488px;
}

.book-grid-title {
  height: 600px;
}

.book-header-image {
  background-image: url('https://i.pinimg.com/originals/26/63/e5/2663e5cd08194d30314a3f0b7a6c32e0.jpg');
  background-size: cover;
}

.card-login {
    width: 600px;
    margin: 50px auto;
}


.book-sidenav {
  width: 300px;
}

.book-filter-form {
  text-align: center;
  padding-top: 100px;
}

.book-filter-form h2 {
  font-size: 1.5rem;
  color: #1565c0;
}
