<mat-card class="card-login">
  <div class="form-login">
    <h3 class="txt-login">Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="main-full-width">
          <input matInput placeholder="Username" formControlName="login"/>
        </mat-form-field>
        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
          <div *ngIf="f.login.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="main-full-width">
          <input matInput placeholder="First name" formControlName="firstName"/>
        </mat-form-field>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="main-full-width">
          <input matInput placeholder="Last name" formControlName="lastName"/>
        </mat-form-field>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last name is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="main-full-width">
          <input matInput placeholder="Email" formControlName="email" type="email"/>
        </mat-form-field>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="main-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password"/>
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button mat-raised-button [disabled]="loading" color="primary" class="btn-login">Register</button>
        <button mat-raised-button [routerLink]="['/login']" class="btn-float-right">Back</button>
      </div>
      <mat-progress-bar [style.display]="loading ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>
    </form>
  </div>
</mat-card>
